#titulo-sitio{
	font-size: 4em;
	color: #d39a0a;
	text-shadow: #bc8609;
}

p ~ span {
	border:solid;
	border-radius: 5px;
	background-image: url(receta.jpg);
	margin: 10px;
	width: 17%;
	float: left;

}

.resumen h2{
	font-variant: small-caps;
}



.categoria{
	color: #d69f2a;
}

.descripcion{
	margin-top: 2px;
}

.detalles{
	border: dashed 1pt #e0d2b1;
	margin:10px;
	
}

span.datos{
	float: right;
	width: 70%
}

img{
	width: 18%
}

h2 a{
	color: #db990a;
}

h2 a:hover{
	text-decoration: none;
	color: #edc163;
	
}

a:visited { 
    color: #7c652e;
}

span img:hover{
	opacity: 0.7;
}


@media screen and (max-width: 800px){

	.descripcion{

		display:none;
	}

	.categoria{
		width: 20%;
		float: right;
	}

	.resumen h2{
		width: 80%;
		float: left;
	}

	.resumen{
		display: block;
		width: 100%;
		height: 25%;
	}



	.detalles p{
		display: none;
	}

	.detalles{
		width: 45%;
		height: auto;
		float: left;
	}

	.detalles img {
		width: 100%;
		height: auto;

	}


	.detalles h3{
		position: relative;
	}

	.datos{
		position: relative;
		width: 100%;
		right: 25%;
	}

	 .datos h3{
	 	
	 }

	p ~ span {

		background-image: none;
		height: 25px;
	}

}