*{
	font-family: "Verdana";
	/*border:solid;*/
}

header > h1{
	font-family: "Anton";
	color: #414239;
	font-size: 4em;
}

.caja{
	padding: 10px;
	border-bottom: 1px solid #d7d8cb;
	margin-top: 10px;
}
.caja > span > p{
	text-align: justify;
}

.caja h2{
	font-family: "Lobster";
	color: #9e0947;
	font-size: 2.5em;
}

span{
	float: left;
	width:23%;
	margin-right: 10px;
}

video source{
	float: right;
	margin-right: 10px;
}

.last{
    clear: left;
}

.subt{
	color: #ce105c;
	font-size: 1em;
}

li[famoso="principal"]{
	font-weight: bold;
}

li[famoso="secundario"]{
	font-style: italic;
}

ul{
	list-style-image: url('play.svg');
}

span img:hover{
	opacity: 0.8;
}

video{
		width: 100%;
		height: auto;
	}


@media screen and (max-width: 800px){

	span#Sinopsis, span > img {
		display: none;
	}

	ul{
		list-style-image: none;
		list-style-type: none;
		width: 100%;
	}

	li{
		float: left;
	}

	.caja{
		position: relative;
		width: 45%;
		float: left;
	}

	.caja > h2{
		font-size: 14pt;
		text-align: center;
	}

	/*#Reparto{
		position: relative;
		top: 350px;
		display: none;
	}*/

	#trailer{
		position: relative;
		width: 100%;
	}

	span#trailer > video{
		position: relative;
		width: 100%;
		height: auto;
	}

}









