body{
	margin:5% 8%;
}

*{
	box-sizing: border-box;
}

[class*="col-"] {    
	float: left;    
	padding: 15px; 
	/*border:solid; */

}

.caja{
	border:solid 1px #cbccc1 ;
	width: 100%;
	float: left;
	margin-bottom: 10px
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header > h1{
	text-align: center;
}

#dp{
	text-align: center;
}

#datos > h2, #educacion > h2{
	margin-left: 10px;
}

ul{
	padding: 0;
	list-style-type: none;
}

#Tecnicas{
	/*margin-left: 10px;
	margin-right: 10px;*/
	align-items: center;
	display: inline-block;
}

 div.habilidad > div{
 	border:solid  1px #cbccc1;
 	display: inline-block;
 	border-radius: 1em;
 	padding: 1pt;
 }

 div.habilidad div:first-child{
 	background-color: #364ab4;
 	color: #fff;
 	box-shadow: 0 0 1px #000;

 }

 div.habilidad div:last-child{
 	background-color: #cbccc1;
 	color: #000;
 	box-shadow: 0 0 1px #000;

 }


@media screen and (max-width: 414px){


	header > h1{
		display: none
	}

	#datos li:nth-child(-n+2){
 		display: none;	
 	}

 	#datos li{
 		text-align: center;
 		margin-right: 20px;
 	}

 	#dp{
 		display: none;
 	}

 	.caja{
 		border-radius: 5px;
 		background-color: #d4e3fc;
 	}

 	#datos > h2{
		position: relative;
		background-color: #fff;
		opacity: 0.8;
		top: 90px;
 		left: 70px;
		z-index: 2;
		display: inline-flex;
		border:solid 1px;
		border-radius: 5px;
 	}

 	#foto img{
 		position: relative;
 		padding: 0px;
 		left: 30%;
 		width: 90%;
 		top:-135px;
 		border-radius: 5px;
 		border:solid 1px;
 		z-index: 1;
 		margin-bottom: -170px;
 		background-color: #fff;
 	}

 	

 	#datos{
 		margin-top: 40px;
 	}

 	#direccion > div{
 		padding: 0px;
 		padding-left: 10px; 
 	}

 	#educacion > h2{
 		text-align: center;
 	}

 	#eduacion > div{
 		width: 40%;
 	}

 	#Universidad  img{
		position: relative;
		width: 70%;
		margin-bottom: -15pt;
		right: 
	}

	#Universidad {
		font-size: 5pt;
		text-align: center;
	}

	#Colegio  img{
		position: relative;
		margin-bottom: -15pt;
		width: 70%;
	}

	#Colegio {
		font-size: 5pt;
		text-align: center;
	}

	#Colegio, #Universidad{
		position: relative;
		float: left;
		width: 50%;
	}

	#Tecnicas > h2{
 		text-align: center;
 	}


	/*#habilidad{
		position: relative;
		float: left;
		width: 50%
	}*/

}

/*

.caja{
	border: solid 1px #cbccc1;
	padding: 5px;
	margin:10px;
	width: 90%;
	height: auto;
	
}



 span#n1 img{
 	width: 15%
	margin-left:10px;
}

ul{
	list-style: none;
}

/*span{
 	display: inline-block;
}*/

/*span#espo2l{
	width:30%;
}

span#espol1{
	width:30%;
}

span#datos{
	float: right;
}

 #dp{
 	text-align: center;
 }
 .institucion{
 	font-weight: bold;
 }

 #Universidad{
 	border-bottom: 2px solid #cbccc1;
 	margin-bottom: 5px;
 }

 div.habilidad > div{
 	border:solid  1px #cbccc1;
 	display: inline-block;
 	border-radius: 1em;
 	padding: 1pt;
 }

 div.habilidad div:first-child{
 	background-color: #364ab4;
 }

  div.habilidad div:last-child{

 }




 @media (max-width: 730px){

 	span#datos li:nth-child(-n+2){
 		display: none;
 		
 	}

 	span#datos{
 		position: relative;
 		bottom: 10;
 		width: 70%;
 	}

 	.caja{
 		padding: 2px;
 	}

 	.caja > h2{
		text-align: center;
		position: relative;
		bottom: 10;

	}

	span#n1 img{
	 	width: 50%
	}


 }




*/